.contienebar.inicio{ /*BARRA DE MENU CTV */
  -webkit-user-select: none; /* PARA   QUE    NO    SE   SELECCIONE   NADA */
  -moz-user-select: none;
  -ms-user-select: none;
  -O-select: none;
  user-select: none;
  border-bottom: 1rem;
  padding: 3rem ;
  background: linear-gradient(rgb(14, 14, 14),rgba(14, 14, 14, 0.63),rgba(0, 0, 0, 0)) ;
  font-family: 'Public Sans', sans-serif;
  position: fixed;
  transition: all ease-in-out .3s;
  left: 0;
  top: 0;
  right: 0;
  z-index: 20;
  }
  .barra{     /* MANEJA EL ANNCHOOO DE LA BARRA DE NAVEGACIÓN */
  font-family: 'Public Sans','700'; 
  max-width: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 0rem;
  align-items: center;
  }
  .navlogo{ /**el compañero funcionara para ser adaptable*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: center !important;
  }
  
  .logotipo{
    cursor: pointer;
  }
  /*-----Hamburguesa contiene bar / bar1,bar2,bar3 -----*/
 
  .hamburguesa{
    margin:0 auto;
    height: 2.1rem;
    width: 2.7rem;
    font-weight: 6.25rem;
    position: relative;
    cursor: pointer;
    align-items: center;
    transition: all ease-in-out .5s;
  }
  .bar{
    
    border-radius: 1rem;
    height: 0.3rem;
    width: 100%;
    display: inline-block;
    position: absolute;
    right: 0;
    background: #ffffff;
    transition: all ease .25s;
  }
  .bar1{
    top: 0;
    width: 100%;
    
  }
  .bar2{
    top: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    
    
  } 
  .bar3{
    bottom: 0;
    width: 90%;
    
  }
  .hamburguesa:hover .bar1{       /*    EFECTO DE BAR1     */
    transform: translateY(0.3rem);
    width: 100%;
  
  }
  
  .hamburguesa:hover .bar2{      /*    EFECTO DE BAR2    */
    width: 100%;
  
  }
  
  .hamburguesa:hover .bar3{      /*    EFECTO DE BAR3    */
    transform: translateY(-0.3rem);
    width: 100%;

  }
  
  .activate .bar1{
    width: 100%;
    left: 0%;
    background: #FF5733;
    transform: translateY(0.8rem) rotate(45deg) !important;
  }
  
  .activate .bar2{
    opacity: 0;
  
  }
  
  .activate .bar3{
    width: 100%;
    background: #FF5733;
    transform: translateY(-1rem) rotate(-45deg) !important;
  }
  
  .hamburguesa{   /* CLASE PARA APARECER Y DESAPARECER LA HAMBURGUESA*/
    display: none;
    top: 0;
    left: 10%;
  }
  
  nav{           /* fondo de la barra de menus */
    background: rgba(0, 0, 0, 0.322);
    border-radius: 5rem;
  }
  
  .navigation li{
    list-style: none;
    display: inline-block;
    margin: 0.5rem 3rem;
    transition: all ease-in-out .5s;
  }
  
  .navigation a{
    text-decoration: none;
    position:relative;
    color: #ffffff;
    font-size: 1.75rem;
  
  }
  
  .navigation a::after,
  .navigation a::before{
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0;
    transition: all ease 0.3s;
  }
  
  .navigation a::before{
    right: 0;
    top: -0.1125rem;
    border-color: rgba(212, 210, 210, 0)
  }
  
  
  .navigation a::after{
    left:0;
    bottom: -0.3125rem;
    border-color: #fd4b05;
    border-bottom-width: 0.1925rem;
  }
  .navigation a:hover::after,
  .navigation a:hover::before{
    width:100%;
  
  }
  
  ul:hover li{
    opacity: .45;
    filter:blur(0.0625rem);
  }
  
  ul li:hover{
    opacity: 1;
    filter: blur(0rem);
  }
  
  .login{     /*LOS LOGIN ES EL EFECTO DE AGUA EN EL BOTON REGISTRAR */
  font-size: 18px;
  border: #0000;
  border-radius: 5rem;
  background: #fcfcfc8f;
  padding: 7px 20px;
  cursor: pointer;
  margin: 0px;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  }
  .register{
  color: rgb(0, 0, 0);
  }
  .login:hover{
  color: #131316;
  }
  .login::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(270deg,#f12711,#f58319);
  z-index: -1;
  transition: 0.3s;
  }
  .login::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
  }
  .login::before{
  height: 180%;
  }
  .login:hover::before{
  height: 0%;
  }
  
  .navigation a.luzin:hover{
  border-color: #0000;
  border-bottom-width: 10rem;
  }
  
  .navigation a.luzin::after,
  .navigation a.luzin::before{
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0;
  }
  
  .luz:hover {
    transition: all ease-in-out 0.3s;
    font-size: 1.77rem;
    color: rgb(255, 255, 255) ;
  }
  
  .navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
  }
  
  .navigation ul li{          
  display: inline-block;
  }
  
  .navigation ul li a{    
  display: block;
  padding: 0.5rem 1rem;
  }
  
  /*ARREGLAR EL PROBLEMA DE MRD, PONIENDO RESPONSIVE A TODOOO*/
  .logo2{
  visibility: hidden;
  }
  .logo2:hover{
  font-size: 50px;
  }
  @media only screen and (max-width: 980px){
    .logo2:hover{
      transition: all ease-in-out 5s;
      position: relative;
      visibility: visible;
      left: 8%;
    }
  
    .logo2{
      transition: all ease-in-out 5s;
      position: relative;
      visibility: visible;
      left: 10%;
    }
    .logo1{
      visibility: hidden;
    }
    /*.barremenu{
      padding-top: 1.25rem;
    }*/
    .hamburguesa{
      position: relative;
      display: block;
      margin: 0 130px;
      
    }
    .luzin{
      transition: all ease-in-out .5s;
      background: #0000;
      color: #FF5733;
    }
    .contienebar.inicio{
      transition: all ease-in-out .3s;
      background: rgba(19, 19, 19, 0.911);
      padding: 0rem;
    }
    .navigation{
      transition: all ease-in-out .3s;
      background: rgba(255, 255, 255, 0);
      width: 100%;
      margin-top: 1rem;
      margin-left: -1rem;
      border-radius: 1rem;
      display: none;
      
      
    }

    .navigation.muestrate{
      transition: all ease-in-out .3s;
      margin-bottom: 2rem;
      display: block;
      transition: all.3s;
    }
    .navigation ul li{
      transition: all ease-in-out .3s;
      display: block;
      
    }
    .navigation ul li a{
      transition: all ease-in-out .3s;
      padding: 0.5rem 0;
      
      
    }
    .luzin{  /* --------------ESTO VA IGUAL EN EL INDEX*/
      left: 3%;
    }
  }
  @media only screen and (max-width: 700px){
    .luzin{
      left: 5%;
    }
    .hamburguesa{
      position: relative;
      display: block;
      margin: 0 130px;
      
    }
  }
  @media only screen and (max-width: 600px){
    .hamburguesa{
      position: relative;
      display: block;
      margin: 0 100px 0 0;
      
    }
    .luzin{  /* --------------ESTO VA IGUAL EN EL INDEX*/
      left: 5%;
    }
  }
  @media only screen and (max-width: 470px){
    .hamburguesa{
      position: relative;
      display: block;
      margin: 0 100px 0 0; 
    }
  }
  @media only screen and (max-width: 410px){
    .hamburguesa{
      position: relative;
      display: block;
      margin: 0 80px 0 0; 
    }
  }
  @media only screen and (max-width: 400px){
    .hamburguesa{
      position: relative;
      display: block;
      margin: 0 60px 0 0;
      
    }
  }

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: baseline;
    
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;  /* #151519 cambiar despues */
    font-size: 62.5%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    background: linear-gradient(180deg,black,#0E0E0E);
  }
  body{
    font-size: 1.5rem;
    line-height: 1.4em;
  }

  .todo{
    background: #161616;
  }
  .contenedor-de-contenedor{
    position: relative;
    height: 700px;
    width: 100%;
    background: #000;
    
  }
  .contenedor-video{
    position: relative;
    background: #000;
    width: 80%;
    height: 700px;
    margin: auto;
  }
  iframe{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /*---------------------------BARRA DE NAVEGACION!!-------------------*/



/*-----------------EMPIEZA PORTADA DE CINE ------------------------*/

/*---------------------------GALERIA--------------------------------*/
.galeriatotal{
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  width: 80%;
}
.Titulo h1{
  left: 10%;
  top: 115%;;
  font-size: 70px;
}
.Titulo h2 span{
  font-size: 30px;
  color: #fd4b05;
}
.Titulo{
  justify-content: space-between;
  display: flex;
  left: 10%;
  padding: 40px;
}
.Titulo h2{
  font-family: 'Lato', sans-serif;
  color: #7a7a7a;
}
.linea{
  width: 100%;
  height: 1px ;
  background: #7a7a7a;
  margin-bottom:60px ;
}
/*---------------------------------------------------------------------------*/
.encaja{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 100%;
}
.contenedor{
  position: relative;
  height: 62rem;
  max-width: 60rem;
  left: 35%;
  transition: all ease-in-out .5s;
  margin-bottom: 5%;

  background: linear-gradient(to left,#202020,#181818 );   /*#131313*/
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .9);
  display: flex;
  align-items: center;
  border-radius: 1.3rem;
}

.imagendentro{
  transition: all ease-in-out .5s;
  width: 32rem;
  transform: translateX(-11rem);
  position: absolute;
}

.imagendentro img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.imagendentro::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
  border-radius: .8rem;
}
.contenido{
  text-align: justify;
  position: absolute;
  top: 15%;
  left: 45%;
}
.info span{
  display: block;
  color: #fd5305;
  font-size: 1.8rem;
  font-weight: 600;
  margin: .5rem 0;
  margin-bottom:1rem ;
}
.info p{
  font-family: 'Lato', sans-serif;
}
.sinopsis{
  font-size: 4rem;
  margin: 1rem 0 2rem;
  text-transform: uppercase;
  color: #fd5305;
}
.tipo p{
  display: inline;
}
.idioma p{
  display: inline;
  padding: .3rem 1.2rem;
  border: 1px solid #fd5305;
  border-radius: .5rem;
}
.descripcion{
  font-family: 'Lato', sans-serif;
  text-align: left;
  width: 80%;
  padding-bottom: 1rem;
  color: #dcdbd8;
}
.btn{
  border: 0px solid #131316;
  border-radius: 5rem;
  background: #fcfcfc8f;
  padding: 8px 22px;
  cursor: pointer;
  margin-top: 10rem;
  transition: 0.8s;
  position: absolute;
  justify-items: center;
  overflow: hidden;
  z-index: 1;
}
.btn.btn4{
  font-size: 22px;
  color: #fff;
}
.btn4:hover{
  color: #131316;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(270deg,#f12711,#f58319);
  z-index: -1;
  transition: 0.8s;
}
.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn4::before{
  height: 180%;
}

.btn4:hover::before{
  height: 0%;
}
@media screen and (max-width: 1460px){
  .contenedor{
    left: 28%;
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 1100px){
  .contenedor{
    left: 25%
  }
  .imagendentro{
    width: 30rem;
  }
}
@media screen and (max-width: 1000px){
  .contenedor{
    left: 20%;
  }
  .Titulo{
    width: 100%;
  }
}
@media screen and (max-width: 850px){
  .contenedor{
    margin-top: 30%;
    margin-right:20% ;
    margin-bottom: 5%;
    left: 13%;
    flex-direction: column;
  }
  .imagendentro{
    transform: translate(0, -20rem);
  }
  .contenido{
    top: 30%;
    left: 5%;
  }
  .imagendentro::before{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0),#181818bd,#181818);
  }
  .idioma a{
    margin-left:5rem ;
  }
}
@media screen and (max-width: 695px){
  .contenedor{
    margin-top: 35%;
  }
}
@media screen and (max-width: 650px){
  .contenedor{
    margin-top: 40%;
    margin-bottom: 5%;
    margin-right: 10px;
    left: 1%;
  }
  .btn{
    margin-top: 4.5rem;
    margin-left: -4rem;
  }
  .Titulo{
    width: 100%;
  }
}
@media screen and (max-width: 520px){
  .contenedor{
    left: 0;
    width: 100%;
    margin-top: 45%;
    margin-bottom: 5%;
  }
  .encaja{
    width: 100%;
  }
  .btn{
    margin-top: 4.5rem;
    margin-left: -4rem;
  }
}
@media screen and (max-width: 500px){
  
}
/*----------------------MENUUUU DESLIZABLEEEEEEEEEEEEEEEEE-------------------------------*/
.contenedor-acordeon{
  font-family: 'Montserrat', sans-serif;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.titulomenu{  /* <---    elige tu cine favorito */
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.acordion{
  width: 60%;
  margin: auto;
}
@media screen and (max-width: 580px){
  .acordion{
    margin: 0;
    width: 100%;
  }
  .Titulo{
    width: 100%;
    display: block;
  }
  .Titulo h1{
    left: 5%;
    top: 115%;;
    font-size: 50px;
    padding: 2rem;
  }
  .Titulo h2 span{
    font-size: 20px;
  }
  .Titulo{
    justify-content: center;
    left: 10%;
  }
  .Titulo h2{
    font-family: 'Lato', sans-serif;
    color: #7a7a7a;
  }
}
.cine1{
  color: #dbdbdb;  /* <-- que su efecto sea con #fd5305, no olvidar */
  background: #111;
  line-height: 2.5;
  padding:0 1em ;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .05);
  box-shadow: 0 -1px 0 0 #000 inset;
  transition: all ease-in-out .2s;
  cursor: pointer;
}
.contenido-cine{
  display: none;
  font-family: 'Montserrat', sans-serif;
  color: #ffff;
  background: #181818;;
  padding: 1em 1em 1.5em;
}
.servicio-cine{
  padding-bottom: 2rem;
  border-bottom: .5px solid rgb(48, 48, 48) ;
  vertical-align: middle;
  color: #ffffff;
  margin: 1rem;
}
.servicio-cine span{
  color: #fd4b05;
  padding: .3rem 1rem;
  border: 2px solid #fd4b05;
  border-radius: .4rem;
}

.horario-cine{
  position: relative;
  display: flex;
  flex-wrap:wrap ;
  font-family: 'Montserrat', sans-serif;
}
.horario-cine a{
  text-decoration: none;
  cursor: pointer;
  background: #fd5305;
  text-align: center;
  width:85px ;
  color: #fff;
  border: 2px solid #fd5305;
  border-radius: .6rem ;
  margin: 1.2rem;
  padding: 1.5rem 2.5rem 1.5rem 1.6rem;
  transition: all ease-in-out .3s;
}
.horario-cine .seat{
  background-image: url(/icon/seat.svg);
  width: 20px;
  fill: white;
  z-index: 100;
  color: #0000;
  margin: 0px 0px 0px 0px;
}
/* HORA DE METER LOS RICOS EFECTOS SON LAS 4 AM :V Y SEMPRE HAGO TODO SOLOOO */

.horario-cine a:hover{
  background: #f57c19;
  border-color: #f57c19;
  color: #000;
}
.cine1:hover{
  color: #f57c19;
  background: rgb(19, 19, 19);
}








/*----------------------------F O O T E R ---------------------------------------*/
.footer{
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  width: 100%;
  background: #111111;
  display: block;
}
.footer-top{
    
    background: linear-gradient(155deg,#fd4b05,#fd5305,#ff5e00,#73df1a);
    background-size: 400% 400%;
    animation: changee 2.5s ease-in-out infinite;
}
@keyframes changee{
  0%{
    background-position: 0 50%;
  }
50%{
  background-position: 100% 50%;
  }
100%{
  background-position: 0 50%;
  }
}
.top-fixed{
  bottom: 0;
  z-index: 100;
  width: 100%;
  position: fixed;
  
}

.footer-top{
  
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 10px;
  /*background: linear-gradient(#121216,#151519,#121216);*/
  color: #fff;
  font-size: 12px;
}
.footer-top i{
  font-size: 16px;
}

.inner-footer{
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}
.footer-items{
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}
.footer-items h1{
  padding: 10px 0;
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-items p{
  width: 80%;
  padding-top: 20px;
  color: grey;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}
.footer p.frase{
  font-size: 17px;
}
.footer p.pronto{
  color: rgb(61,61,61);
  padding-top: 10px;
  font-size: 13.5px;
}
.footer-items i.coming-soon{
  padding: 10px;
  color:rgb(61, 61, 61);
  font-size: 50px;
}
.footer-items i.coming-soon.fab.fa-apple{
  font-size: 60px;
}
.footer-items h2{
margin: 10px 0;
color: #DDDD;
font-size: 16px;
font-weight: lighter;
text-transform: uppercase;
}
.footer-items h2{
  margin: 10px 0;
  color: #DDDD;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}

.border{
  height: 1px;
  width: 150px;
  background: #fd4b05;
}

.footer-items ul{
  list-style: none;
  font-size:15px;
  letter-spacing: 0.5px;
}
.footer-items ul a{
  text-decoration: none;
  outline: none;
  transition:all ease-in-out .5s;
}
.footer-items ul li{
  margin: 10px 0;
  height: 25px;
  color: #7a7a7a;
}
.footer-items li i{
  margin-right: 20px;
}
.social-media {
  width: 100%;
  color: #ffffff;
}
.social-media a{
  text-decoration: none;
}
.social-media i{
  height: 15px;
  width: 15px;
  margin: 20px 5px;
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid grey;
  transition: all ease-in-out .5s;
}
.social-media i:hover{
  font-size: 30px;
  color: #fd4b05;
  border-radius: 0%;
  border: 0px;
  padding: 10px 10px 10px 10px 10px;
  width: 13%;
  margin: 0px 0px;
}


.footer-bottom{
  color: #fd4b05;
  background: linear-gradient(#121216,#151519,#0d0d0f);
  display: flex;
  justify-content: space-between;
  padding: 10px 2%;
  font-size: 12px;
}

@media only screen and (max-width: 1085px){
  .footer-items{
    width: 50%;
  }
}
@media only screen and (max-width: 600px){
  .content h1{
    font-size: 400%;
    line-height: normal;
  }
  .footer-items{
    width: 100%;
  }
}
